
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
        <div class="container">
          <div class="tm-next">
              <a href="#infinite" class="navbar-brand">BULLCO</a>
          </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#infinite">Inicio</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#whatwedo">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#testimonials">Clientes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#gallery">Galeria</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#contact">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
          <img src="../assets/img/logoprincipal.png" alt="">
            <!-- <h2 class="tm-hero-title">BULLCO</h2>
            <p class="tm-hero-subtitle">
              INGENIERIA Y CONSTRUCCIONES
              <br>Calidad, Servicio y Confianza
            </p> -->
        </div>
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>
    </section>

    <section id="whatwedo" class="tm-section-pad-top">

      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Servicios</h2>
                        <p class="mb-4 tm-intro-text">
                          Establecemos las características generales y aspectos fundamentales del proyecto según las necesidades de los clientes, aportando una primera imagen global del proyecto, un presupuesto estimado y la gestión de los documentos necesarios para poder construir, modificar un edificio o parte del mismo. <a href="#">Revisa Nuestro Facebook</a>.</p>
                    </div>
                </div>

            </div><!-- first row -->

            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Construcción</h2>
                        <p class="mb-4 tm-intro-text">En Bullco nos encargamos de la construcción de la estructura, aportando soluciones innovadoras y eficientes, cumpliendo con las normas y reglamentos en materia de seguridad, salud y calidad. </p>
                    </div>
                </div>

                <div class="col-lg-1">
                    <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Obra Civil</h2>
                        <p class="mb-4 tm-intro-text">
                          Coordinamos y supervisamos el proceso de la obra y el cumplimiento de los requisitos, plazos y presupuestos establecidos, verificando que las obras planificadas se ajusten al diseño y se encuentren exitosamente operativas.</p>
                    </div>
                </div>

            </div><!-- second row -->

            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Elaboración de Proyectos</h2>
                        <p class="mb-4 tm-intro-text">
                          Nuestro equipo profesional realiza cada una de las funciones necesarias para llevar a cabo el desarrollo de la reforma, desde el asesoramiento y definición del proyecto hasta la ejecución y finalización de la obra.</p>

                          <div class="tm-continue">
                            <a href="mailto: carlosmagallan@bullco.com.mx" class="tm-intro-text tm-btn-primary">Saber más</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1">
                    <i class="fas fa-3x fa-users text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Mantenimiento Industrial</h2>
                        <p class="mb-4 tm-intro-text">
                          En Bullco somos especialistas en remodelación y reforma.
                        </p>
                          <div class="tm-continue">
                            <a href="CURRICULUM.ods" class="tm-intro-text tm-btn-primary">Curriculum</a>
                        </div>
                    </div>
                </div>

            </div><!-- third row -->

        </div>

    </section>

    <section id="testimonials" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-testimonials-content">
        <div class="row">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">Clientes</h2>
            <p class="mx-auto tm-section-desc text-center">
              BULLCO INGENIERÍA Y CONSTRUCCIÓNES, seguimos innovando y mejorando para ofrecer el mejor servicio en México. Construyendo los cimientos para tu futuro.
              </p>
            <div class="mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <figure class="tm-testimonial-item">
                  <img src="../assets/img/clientes/pernod.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Construcción de losa, estructura metalica para amelasado, reparación de hornos para agave y reparación de conector.</blockquote>
                  <figcaption>Referencia Ing. Cesar Cuellar</figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="../assets/img/clientes/carso.png" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Subcontrato: paso vehicular gasa entronque autopista nayarit y construccion de aleros para tuberia metalica.</blockquote>
                  <figcaption>Referencia Ing. Carlos Magaña</figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="../assets/img/clientes/mega.png" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Precopesa cimentación para edificio (corporativo megacable).</blockquote>
                  <figcaption>Referencia Ing. Guillermo Jaquez</figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="../assets/img/clientes/gmc.jpg" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Proyecto construcción de hostal bohostel.</blockquote>
                  <figcaption>Referencia GMC consultores</figcaption>
                </figure>

                <figure class="tm-testimonial-item">
                  <img src="../assets/img/clientes/prodemex.png" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Cuarteles para la policia federal preventiva en el cefereso no2 occidente y construcción de cisterna.</blockquote>
                  <figcaption>Referencia Ing. Alejandro Acosta </figcaption>
                </figure>
                <figure class="tm-testimonial-item">
                  <img src="../assets/img/clientes/polesa.png" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Cimentación para grallana</blockquote>
                  <figcaption>Referencia Grupo Polesa</figcaption>
                </figure>
                <figure class="tm-testimonial-item">
                  <img src="../assets/img/clientes/ofre.png" alt="Image" class="img-fluid mx-auto">
                  <blockquote>Taller de maquinado y torno ofre</blockquote>
                  <figcaption>Arturo Onofre</figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-bg-overlay"></div>
    </section>

    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Galeria</h2>
              <p class="mx-auto tm-section-desc">
                Proyectos y casos de estudio para nuestros clientes.
              </p>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                      <a href="../assets/img/gallery-img-01.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-01.jpg" alt="Image 1" class="img-fluid">
                          <figcaption>
                            <h2><i>Reparación horno para <span>agave</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-02.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-02.jpg" alt="Image 2" class="img-fluid">
                          <figcaption>
                            <h2><i>Reparación horno para <span>agave</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-03.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-03.jpg" alt="Image 3" class="img-fluid">
                          <figcaption>
                            <h2><i><span>Construcción </span> vialidad</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-04.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-04.jpg" alt="Image 4" class="img-fluid">
                          <figcaption>
                            <h2><i>construcción <span>vialidad</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-05.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-05.jpg" alt="Image 5" class="img-fluid">
                          <figcaption>
                            <h2><i><span>Construcción</span> vialidad</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-06.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-06.jpg" alt="Image 6" class="img-fluid">
                          <figcaption>
                            <h2><i>construcción <span> losa</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-07.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-07.jpg" alt="Image 7" class="img-fluid">
                          <figcaption>
                            <h2><i>construcción de aleros <span>tuberia</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-08.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-08.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>paso <span>vehicular</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-09.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-09.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>Edificación <span>bohostel</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-10.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-10.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>Edificación <span>bohostel</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-11.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-11.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>construcción <span>cimentación</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-12.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-12.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>cambio <span>conector de tuberia</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-13.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-13.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>Cimentación <span>para grallana</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-14.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-14.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>Construcción <span>de taller</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-15.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-15.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>construcción <span>de taller</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="../assets/img/gallery-img-16.jpg">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="../assets/img/gallery-img-16.jpg" alt="Image 8" class="img-fluid">
                          <figcaption>
                            <h2><i>Edificación <span>Cuarteles</span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">

      <div class="container tm-container-contact">

        <div class="row">

            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contactanos</h2>
                <p class="mb-5">
                  <!-- Proin enim orci, tincidunt quis suscipit in, placerat nec est. Vestibulum posuere faucibus posuere. Quisque aliquam velit eget leo blandit egestas. Nulla id posuere felis, quis tristique nulla. -->
                </p><br>
            </div>

            <div class="col-sm-12 col-md-6">
              <form action="procesa.php" method="post">
                <input id="name" name="name" type="text" placeholder="Tu Nombre" class="tm-input" required />
                <input id="email" name="email" type="email" placeholder="Tu Email" class="tm-input" required />
                <textarea id="message" name="message" rows="8" placeholder="Mensaje: " class="tm-input" required></textarea>
                <button type="submit" class="btn tm-btn-submit">Enviar</button>
              </form>
            </div>

            <div class="col-sm-12 col-md-6">

                <!-- <div class="contact-item">
                  <a rel="nofollow" href="https://www.tooplate.com/contact" class="item-link">
                      <i class="far fa-2x fa-comment mr-4"></i>
                      <span class="mb-0">Chat Online</span>
                  </a>
                </div> -->

                <div class="contact-item">
                  <a rel="nofollow" href="mailto:carlosmagallan@bullco.com.mx" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">carlosmagallan@bullco.com.mx</span>
                  </a>
                </div>

                <!-- <div class="contact-item">
                  <a rel="nofollow" href="https://www.google.com/maps" class="item-link">
                      <i class="fas fa-2x fa-map-marker-alt mr-4"></i>
                      <span class="mb-0">Our Location</span>
                  </a>
                </div>

                <div class="contact-item">
                  <a rel="nofollow" href="tel:0100200340" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">255-662-5566</span>
                  </a>
                </div> -->

                <div class="contact-item">&nbsp;</div>

            </div>


        </div><!-- row ending -->

      </div>

      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; 2022 Bullco

          . <a rel="nofollow" href="https://www.agaveintellect.com" title="HTML templates">Diseño por AgaveIntellect</a> & tooplate.</p>
        </footer>

    </section>


    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        }
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});

        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };

      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);
        background_image_parallax_2($("#testimonials"), 0.80);

        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });

        // Close mobile menu after click
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show');
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
          'easing': 'easeInOutExpo',
          'speed': 600
        });

        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
          dots: true,
          prevArrow: false,
          nextArrow: false,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }
            }
          ]
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
